# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# Buildozer files
.buildozer/
bin/
.gradle/
.keystore
.local.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Packaging
*.spec
dist/
build/

# Kivy / App assets cache
*.atlas

# GitHub Actions temp
.github/workflows/__pycache__/
.github/scripts/__pycache__/
